<div class="container my-3">
	<div class="row">
		<div class="col-md-4" *ngFor="let personaje of heroes">
			<div class="card hover-card mb-4">
				<img [src]="personaje.img" class="card-img-top" alt="{{personaje.nombre}}">
				<div class="card-body">
					<h5 class="card-title">{{ personaje.nombre }}</h5>
					<p class="card-text">{{ personaje.bio }}</p>
								<button class="btn"
												[class.btn-success]="isFavorito(personaje)"
												[class.btn-outline-primary]="!isFavorito(personaje)"
												(click)="seleccionarFavorito(personaje)">
									{{ isFavorito(personaje) ? 'Favorito' : 'Marcar favorito' }}
								</button>
				</div>
			</div>
		</div>
	</div>
</div>
